NODE_ENV = 'development'

PORT = 8080

DB_URL = "mongodb://localhost:27017/team_14_db"

#! cloudinary
CLOUDINARY_CLOUD_NAME = ''
CLOUDINARY_API_KEY = ''
CLOUDINARY_API_SECRET = ''

#! JWT

#! cookie

#! email/node mailer

