NODE_ENV = 'development'

PORT = 8080

DB_URL = "mongodb://localhost:27017/team_14_db"

#! cloudinary
CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = 'Api_key'
CLOUDINARY_API_SECRET = 'Api_secret'

#! JWT
JWT_SECRET: "jwt_secret"
JWT_EXPIRES_IN: '7d'

#! cookie

#! email/node mailer
#! email/node mailer
SMTP_HOST = "smtp.gmail.com"
SMTP_SERVICE = "gmail"
SMTP_PORT = 587
SMTP_USER = "your_email@gmail.com"
SMTP_PASS = "app_password"

