NODE_ENV = 'development'

PORT = 8080

DB_URL = "mongodb://localhost:27017/team_14_db"

#! cloudinary
CLOUDINARY_CLOUD_NAME = 'cloud_name'
CLOUDINARY_API_KEY = 'Api_key'
CLOUDINARY_API_SECRET = 'Api_secret'

#! JWT

#! cookie

#! email/node mailer

